<h2>第一週</h2>

<p> 我完全沒想到整個介面早就有了，所以要重開<a href="https://github.com/iigmir/f2e-week1" target="_blank">新專案</a>設計了。 </p>
<p> 本來還考慮要放棄這個專案。不過在看到之前有講東西時，我想我還是講講啥好了。 </p>

<hr class="ts divider" />

<h3>簡單說...</h3>

<p> 從 Vue 跳去 Angular2 的話，你會對 cli 操作，強調關注點分離的 MVW 模式，還有路由功能感到熟悉。 </p>
<p> 事實上，Angular2 的 cli 整合程度，是 Vue 遠遠不能比的。非常方便。要裝什麼，只要載入模塊就好。 </p>
<p> 但是 Angular2 有很多慣例，會要求你去嚴格遵守。這些慣例雖然我不想接受，但看在是 cli 產生的情況下，還是勉強接受吧。 </p>
<p> 另外，Angular2 是用 TypeScript 寫的。第一次踏入，你需要額外學習這些東西。 </p>

<hr class="ts divider" />

<h3>中央管理服務</h3>

<p> 大凡今日 SPA 框架，為管理方便，皆實作組件（Component）功能之。此功能可藉簡短宣告式，載入某一，以減少重複程式碼，易於偵錯為目的。 </p>
<p> 有時，開發者會需要取得其他變數資料，並在組件間安排變數呼叫。 </p>
<p> 不過，若需要取得其他變數，請不要在組件安排。相反，你應該使用 </p>
