<div class="ts grid">
    <div class="eight wide column">
        <h2> 第零週：觀察報名資訊 </h2>
        <h3 class="ts sub header"> 使用 <a href="https://github.com/hexschool/TheF2E/wiki/API-DOC">API</a> 檢查報名資訊 </h3>
    </div>
    <div class="six wide column">
        <div class="ts statistic">
            <div class="label">報名人數</div>
            <div class="value">
                <span *ngIf="success; else elseBlock">
                    {{ resigned }}
                </span>
                <ng-template #elseBlock>
                    <span class="pulsing">請稍待...</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<hr class="ts divider" />

<div class="ts action input">
    <input required name="email" type="email" placeholder="輸入你的 Email"
    [(ngModel)]="input_email" />
    <button class="ts button" (click)="search_email()">搜尋</button>
</div>

<div class="ts grid">
    <div class="eight wide column">
        <div *ngIf="input_email.invalid && (input_email.dirty || input_email.touched)"
            class="ts basic icon input">
            <div class="ts negative message">
                <p> 輸入錯誤 </p>
            </div>
        </div>
    </div>
</div>

<p> Angular 是以 HTTP 模塊實作 AJAX 請求。<br />
    這個模塊已經內建在裡面了，但要使用的話，除了要<strong>引入模塊</strong>外，還需要<strong>建立服務</strong>以發動請求。 </p>
<p> TypeScript 必須要<strong>事先宣告</strong>型別。但如果不確定，可以宣告 any 型別，這樣就能方便使用。 </p>
<p> 千萬記得，就算在程式裡面有放模塊，<strong>不代表測試檔裡面就能偵測到模塊</strong>。你會需要在測試檔裡面引入模塊。 </p>
