<div class="ts grid">
    <div class="eight wide column">
        <h2> 第零週：觀察報名資訊 </h2>
        <h3 class="ts sub header"> 使用 <a href="https://github.com/hexschool/TheF2E/wiki/API-DOC">API</a> 檢查報名資訊 </h3>
    </div>
    <div class="six wide column">
        <div class="ts statistic">
            <div class="label">報名人數</div>
            <div class="value">
                <span *ngIf="success; else elseBlock">
                    {{ resigned }}
                </span>
                <ng-template #elseBlock>
                    <span class="pulsing">請稍待...</span>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<hr class="ts divider" />

<div class="ts action input">
    <input required name="email" type="email" placeholder="輸入你的 Email"
    [(ngModel)]="input_email" />
    <button class="ts button" (click)="search_email( input_email )">搜尋</button>
</div>

<div class="ts segment"
    [ngClass]="
    {
        'positive': my_info.success === true ,
        'negative' : my_info.success === false
    }">
    <div class="ts active dimmer" *ngIf="request_status.waiting_response === true">
        <div class="ts loader"></div>
    </div>
    <p *ngIf="request_status.never_request === true">輸入一下上面的東西，讓我看一下你的報名日期吧。</p>
    <p *ngIf="request_status.waiting_response === true">讀取中</p>
    <p *ngIf="my_info.success === true">哈囉，在 {{ readable_time }} 報名的 {{ my_info.nickName }}，讓我們一起在 {{ my_info.skill }} 精進的路上努力吧！</p>
    <p *ngIf="my_info.success === false">噢噢，這條路上似乎沒有你在。網路沒有你就不一樣了：（</p>
</div>

<p> Angular 是以 HTTP 模塊實作 AJAX 請求。<br />
    這個模塊已經內建在裡面了，但要使用的話，除了要<strong>引入模塊</strong>外，還需要<strong>建立服務</strong>以發動請求。 </p>
<p> TypeScript 必須要<strong>事先宣告</strong>型別。但如果不確定，可以宣告 any 型別，這樣就能方便使用。 </p>
<p> 千萬記得，就算在程式裡面有放模塊，<strong>不代表測試檔裡面就能偵測到模塊</strong>。你會需要在測試檔裡面引入模塊。 </p>
